/*
  Notes list
*/

.notes-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.notes-year {
  font-size: 18px;
  position: relative;
  right: 100px;
  color: rgba(0, 0, 0, 0.5);
  width: 100px;
  margin-bottom: -22px;
  margin-top: 2rem;
}

.notes-entry {
  padding: 0.15rem 0;
  margin-bottom: 20px;
}

.notes-date {
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.7);
  font-size: 12px;
  font-weight: bold;
  margin-top: 4px;
  margin-bottom: 4px;
}

.notes-title {
  display: inline-block;
  font-weight: bold;
  margin-bottom: 0;
}

.notes-title a {
  font-size: 18px;
  text-decoration: none;
}

.notes-title a:hover {
  text-decoration: underline;
}

/*
  Post
*/

.post-date {
  display: block;
  margin-top:3px;
  margin-bottom: 1rem;
  color: $light-gray-color;
  font-family: $sans-serif-font-family;
  font-size:0.8rem;
}

@media (max-width: $elements-responsive-width) {
  .posts h1 {
    font-size: 1.5rem;
  }
}

.related {
  padding-bottom: 2rem;
}

.related-posts {
  padding-left: 0px;
  list-style: none;
}

.related-posts a {
  text-decoration: none;
}
