---
layout: default_wide
title : Home
---

<div style="width: 65%; float:left">
   <p>
     I’m an aerospace engineering PhD student at Georgia Tech. I’m also a MS student in CS.
     My research involves optimization of space situational awareness architectures. I am also
     broadly interested in deep learning, statistical modeling, and reinforcement learning.
   </p>
</div>

<div style="width: 25%; float:right">
   <img src="/assets/img/cards.jpg" width="100%" align="right">
</div>

<div style="clear: both;"></div>

<hr>

<h2>Projects</h2>
<p>Here are some of the projects I’ve enjoyed working on. Click on them to learn more!</p>

<div style="display: flex; align-items: center; margin-bottom: 2em;">
  <a href="https://malav-p.github.io/soundstream/" target="_blank" style="margin-right: 20px;">
    <img 
      src="/assets/img/soundstream.png" 
      alt="soundstream img" 
      style="max-width: 100%; height: auto; display: block;"
    />
  </a>
  <div>
    <h3><a href="https://github.com/Malav-P/soundstream" style="color: #2c98f0;">SoundStream: An End-to-End Neural Audio Codec in PyTorch</a></h3>
    <p>Implemented and trained SoundStream from scratch, a neural audio codec forming the foundation for audio tokenizers used in SOTA audio modeling. We provide modules for causal convolutions, vector quantization, and all discriminators in addition to the SoundStream model itself. Training is fast, taking approximately 8 hours on a single NVIDIA L40S GPU. Click on the image to learn more!</p>
  </div>
</div>



<div style="display: flex; align-items: center; margin-bottom: 2em;">
  <img 
    src="/assets/img/modernbert_prec.png" 
    alt="Project 1 img" 
    style="width: 200px; margin-right: 20px; cursor: pointer;" 
    onclick="toggleModal('prec_zoom')"
  />
  <div>
    <h3><a href="https://github.com/Malav-P/modernpatentBERT" style="color: #2c98f0;">ModernBERT for the Patent Classification Task</a></h3>
    <p>ModernBERT for complex patent classification, demonstrating &gt;2x faster inference than traditional BERT with state-of-the-art precision and F1 scores on a domain <a href="https://huggingface.co/datasets/0zo/google_patentsview_claims_2016">test set</a>. Introduced <a href="https://huggingface.co/datasets/MalavP/USPTO-3M">USPTO-3M</a>, a large public dataset of 3 million patents. </p>
  </div>
</div>

<!-- Hidden modal for enlarged image -->
<div id="prec_zoom" style="display:none; position: fixed; top: 0; left: 0; width: 100vw; height: 100vh; background-color: rgba(0,0,0,0.8); z-index: 1000; justify-content: center; align-items: center;">
  <img 
    src="/assets/img/modernbert_prec.png" 
    alt="Enlarged Project 1 img" 
    style="max-width: 90vw; max-height: 90vh; box-shadow: 0 0 15px #fff;" 
    onclick="toggleModal('prec_zoom')" 
  />
</div>

<!-- Image and text container -->
<div style="display: flex; align-items: center; margin-bottom: 2em;">
  <img 
    src="/assets/img/yap.gif" 
    alt="Project 2 GIF" 
    style="width: 200px; margin-right: 20px; cursor: pointer;" 
    onclick="toggleModal('imageModal')"
  />
  <div>
    <h3><a href="https://github.com/Malav-P/staticgrad" style="color: #2c98f0;">On Device LLM Inference</a></h3>
    <p>Built a library from scratch in C++ for constructing the GPT2 language model. KV Caching and cache friendly access patterns accelerate tokens/sec. Inference is done locally on an M1 chip! Half precision GELU operations yield a 1.27x inference speedup.</p>
  </div>
</div>

<!-- Hidden modal for enlarged image -->
<div id="imageModal" style="display:none; position: fixed; top: 0; left: 0; width: 100vw; height: 100vh; background-color: rgba(0,0,0,0.8); z-index: 1000; justify-content: center; align-items: center;">
  <img 
    src="/assets/img/yap.gif" 
    alt="Enlarged Project GIF" 
    style="max-width: 90vw; max-height: 90vh; box-shadow: 0 0 15px #fff;" 
    onclick="toggleModal('imageModal')" 
  />
</div>


<!-- Image and text container -->
<div style="display: flex; align-items: center; margin-bottom: 2em;">
  <img 
    src="/assets/img/cnn.gif" 
    alt="CNN GIF" 
    style="width: 200px; margin-right: 20px; cursor: pointer;" 
    onclick="toggleModal('cnngif')"
  />
  <div>
    <h3><a href="https://github.com/Malav-P/CNN" style="color: #2c98f0;">On Device Character Recognition</a></h3>
    <p>Built a library from scratch in C++ for constructing convolutional neural networks. Trained on MNIST dataset. Again, real time inference on an M1 chip.</p>
  </div>
</div>

<!-- Hidden modal for enlarged image -->
<div id="cnngif" style="display:none; position: fixed; top: 0; left: 0; width: 100vw; height: 100vh; background-color: rgba(0,0,0,0.8); z-index: 1000; justify-content: center; align-items: center;">
  <img 
    src="/assets/img/cnn.gif" 
    alt="Enlarged Project GIF" 
    style="max-width: 90vw; max-height: 90vh; box-shadow: 0 0 15px #fff;" 
    onclick="toggleModal('cnngif')" 
  />
</div>

<!-- JavaScript -->
<script>
  function toggleModal(id) {
    const modal = document.getElementById(id);
    modal.style.display = modal.style.display === 'flex' ? 'none' : 'flex';
  }
</script>


