---
layout: default
title : Home
---

<div style="width: 65%; float:left">
   <p>
     I’m an aerospace engineering PhD student at Georgia Tech. I’m also a MS student in CS.
     My research involves optimization of space situational awareness architectures. I am also
     broadly interested in deep learning, statistical modeling, and reinforcement learning.
   </p>
</div>

<div style="width: 25%; float:right">
   <img src="/assets/img/cards.jpg" width="100%" align="right">
</div>

<div style="clear: both;"></div>

<hr>

<h2>Projects</h2>
<p>Here are some of the projects I’ve enjoyed working on. Click on them to learn more!</p>

<div style="display: flex; align-items: center; margin-bottom: 2em;">
  <img src="/assets/img/cards.jpg" alt="Project 1 GIF" style="width: 200px; margin-right: 20px;" />
  <div>
    <h3><a href="/projects/modernbert" style="color: #2c98f0;">ModernBERT for Patents: Faster Insights, Smarter Classification</a></h3>
    <p>ModernBERT for complex patent classification, demonstrating &gt;2x faster inference than traditional BERT with state-of-the-art accuracy using hierarchical loss. Introduced USPTO-3M, a large public dataset of 3 million patents.</p>
  </div>
</div>

